@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina+2:400,500,700&display=swap');

$heading-font-family: 'Baloo Bhaina 2';
$body-font-family: 'Josefin Sans';
$title-font: 'Josefin Sans';

$border-radius-root: 0px;
$font-size-root: 16px;

$xs-width: 100px;
$s-width: 200px;
$m-width: 300px;
$l-width: 400px;
$xl-width: 500px;